@media only screen and (max-width: 750px) {
  * {
    flex-wrap: wrap;
    display: block;
    width: 600px;
    height: inherit;
  }
  html {
    height: 100%;
  }
  body {
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    width: 600px;
    height: inherit;
    margin: 0 auto;
  }

}
