* {
  font-family: "Montserrat", sans-serif !important;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  * {
    display: flex;
    flex-wrap: wrap;
  }
  html {
    height: 100%;
  }
  body {
    width: 600px;
    height: inherit;
    margin: 0 auto;

  }
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  font-size: calc(10px + 2vmin);
  display: flex;
  color: #2C3B38;
  padding: 0;
  background-color: #CACDDE;
}

.container {
  width: 100vw;
  height: 100vh;
  margin-bottom: 6rem;
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 6rem;
  flex-flow: column wrap;
  flex-wrap: wrap;
  display: flex;
  position: relative;
}

.card {
  flex-wrap: wrap;
  padding: 2rem 2rem;
  margin: 2rem 2rem;
  border: none;
  text-align-last: left;
  background-color: transparent;
}

.card-title {
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: transparent;
}

.button {
  background-color: #594B41;
  border: none;
  margin: 0.5rem;
  color: #F5EED7;
}

.button:hover {
  background-color: #5b98a6;
}

.vstack {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.vstack::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
  background-image: url("/public/assets/spray.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero.card {
  flex-flow: column wrap;
  display: flex;
  font-size: 2rem;
  padding: 4rem;
}

.hero-title.card-title {
  padding-top: 8rem;
  padding-left: 4rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: bold;
}

.hero-body.card-body {
  font-size: 3rem;
  padding-left: 4rem;
  font-weight: normal;
}

.form.col {
  flex-grow: 2;
}

#techCard {
  flex-wrap: wrap;
  flex-direction: column;
  text-align-last: center;
}

#projectsContainer {
  /* flex-flow: column;
  flex-wrap: wrap; */
  text-align-last: center;
}

#projectsCard {
  flex-flow: column;
  flex-wrap: wrap;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  margin: 1rem, 0, 0;
  align-items: center;
}

#projectsCardTitle.card-title {
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 0;
  justify-content: center;
  margin: 0;
}

#contact {
  padding-top: 0;
  height: 75rem;
  width: 60rem;
  border: none;
  background-color: transparent;
}
