* {
  font-family: "Montserrat", sans-serif !important;
}

@media only screen and (max-width: 600px) {
  * {
    display: flex;
    flex-wrap: wrap;
  }
  .container { flex-wrap: wrap;  }
  .landing-container { flex-wrap: wrap;  }

}

body {
  font-size: calc(10px + 2vmin);
  display: flex;
  color: #022326;
  padding: 0;
  margin-left: 50px;
  /* background-color: #95BFA0; */
}

.hero.card {
  flex-flow: column wrap;
  height: 100%;
  display: flex;
  font-size: 2rem;
  padding: 5px;
}

.hero.card-title.h5 {
  font-size: 3rem;
  font-weight: bold;
}
.hero.card-body {
  font-size: rem;
  font-weight: normal;
  margin: 0px 0px 16px;
  padding: 0;
}


.col {
  flex-wrap: wrap;
  flex: 2;
  padding: 10px;
  margin: 10px;
}

.col2 {
  flex-wrap: wrap;
  flex: 1;
}

 .hero-image.card {
  justify-items: start;
  margin: 15px;
  padding: 0;
}

.container {
  flex-flow: column wrap;
  flex-wrap: wrap;
  display: flex;
  margin-top: 12rem;
  margin-left: 6rem;
  width: 90%;
  height: 31rem;
  position: relative;
}

.card {
  flex-wrap: wrap;
  flex-flow: column;
  padding: 2rem 2rem;
  border: none;
  text-align-last: left;
  background-color: transparent;
}

.card-title {
  font-size: 3rem;
  margin-top: 6prem;
  margin-bottom: 1rem;
  background-color: transparent;
  color: #162e25;
}

.button {
  background-color: #58592E;
  border: none;
  margin: .5rem;
  color: #E6DBB0;
}

.button:hover {
  background-color: #7A577A;
}

#landing {
  display: flex;
  background-image: url("/public/assets/tunnel.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

#landing.container {
    font-weight: bold;
  align-items: center;
  position: relative;
  display: flex;
}

#techCard {
  flex-wrap: wrap;
  flex-direction: column;
  text-align-last: center;
}

#projectsContainer {
  flex-flow: column;
  flex-wrap: wrap;
  text-align-last: center;
}

#projectsCard  {
  flex-flow: column;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 0, 0, 0;
  align-items: center;
}

#projectsCardTitle {
  margin-top: 6px;
  justify-content: center;
  padding: 1rem;
  font-size: 24px;
  margin: 0;
}

#contact {
  padding-top: 0;
  height: 75rem;
  width: 60rem;
  border: none;
  background-color: transparent;
}
