/* @media only screen and (max-width: 750px) {
  * {
    flex-wrap: wrap;
    width: 600px;
    height: inherit;
  }
  html {
    height: 50%;
  }

} */

.topnav {
  position: fixed;
  top: 0;
  right: 0;
  left: 15px;
  display: flex;
  min-width: 100vw !important;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  backdrop-filter: blur(5px);
}

ul.nav-link {
  display: grid;
  grid-auto-flow: column;
  list-style-type: none;
  align-items: right;
  color: #594b41;
}

li.right.nav-link {
  align-items: right;
  color: #594b41;
}
li.left.nav-link {
  color: #594b41;
}

.nav-link:hover {
  color: #5b98a6;
}

.icon {
  filter: invert(27%) sepia(46%) saturate(204%) hue-rotate(343deg)
    brightness(94%) contrast(89%);
}

.icon:hover {
  filter: none;
  background-color: #5b98a6;
}
