.topnav {
  position: fixed;
  margin: 0px;
  padding: 0;
  min-width: 100vh !important;
  z-index: 100;
  text-align: right;
  background-color: transparent;
  backdrop-filter: blur(5px);
}

.navbar {
  align-items: flex-end;
}

a.nav-item {
  text-align: right;
}

a.nav-link {
  position: relative;
  text-align: right;
  right: 25px;
  color: #58592E;
}

.nav-link:hover {
  color: #7a577a;
}


